<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Jose Escobar, Fernando Vaca">
    <meta name="Description" content="Pagina Web Corporativa de HIS">
    <title>HIS Noticias</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/header_footer.css" type="text/css">
    <link rel="stylesheet" href="../css/news.css" type="text/css">
</head>

<body>
	<div id="top" class="container">
		<div class="row">
			<div class="col col-12">
				<div class="row">
					<header class="col col-12 col-md-6 col-lg-4 d-none d-md-block" id="logoholder">
						<img class="img-fluid " src="../img/logo.png" alt="logoHIS">
					</header>
				</div>

				<hr class="d-none d-md-block m-auto" id="line">
			</div>
		</div>
	</div>
	<div class="sticky-top">
		<div class="container">
			<nav class="navbar navbar-expand-md navbar-light col">
				<a class="navbar-brand d-md-none d-sm-block" href="index.html"><img id="logoheader" src="../img/logo-icono.png" alt="logoHIS"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuPrincipal">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div id="menuPrincipal" class="collapse navbar-collapse justify-content-between">
					<ul class="list-inline navbar-nav">
						<li class="list-inline-item nav-item"><a class="lato nav-link" href="index.html">Principal</a></li>
						<li class="list-inline-item nav-item"><a class="lato nav-link" href="services.html">Servicios</a></li>
						<li class="list-inline-item nav-item"><a class="lato nav-link" href="news.html">Referencias</a></li>
						<li class="list-inline-item nav-item"><a class="lato nav-link" href="us.html">Nosotros</a></li>
						<li class="list-inline-item nav-item"><a class="lato nav-link" href="contactus.html">Contáctenos</a></li>
					</ul>
					<form class="form-inline my-lg-2 lato" action="search.html" method="get">
						<input class="form-control mr-2" type="search" placeholder="Buscar..." aria-label="Search" name="buscar">
						<button type="submit" class="btn btn2">Buscar</button>
					</form>
				</div>
			</nav>
		</div>
	</div>
	<div class="container" id="noticias">
        <div class="row pb-3" id="noticia1">
            <div class="imgHoverImpar col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <img class="img-fluid" id="imagen2" src="../img/referencias/estatal.png" alt="imgNoticia1">
                <div class="overlay">
                    <p class="texto">Proyecto donde se implementó un aula activa, que es un espacio de los salones de clases modernos, que tiene tres aspectos fundamentales: flexibilidad, conectividad y colaboración.
                    <br>
                    <br>
                    -Flexibilidad: Capacidad de poder organizar el salón de clases segun la necesidad que tengan tanto maestros como alumnos, es decir, existe total movibilidad.
                    <br>
                    <br>
                    -Conectividad: Poseer en el salón las tecnologías de la información con sistemas multiplataformas.
                    <br>
                    <br>
                    -Colaboración: Aspecto que permite desarrollar diferentes formatos en los grupos de trabajo para la integración de destrezas de los estudiantes.</p>
                </div>
            </div>
            <div class="infoImpar col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <h2 class="mont">Equipamiento de sala de exelencia en la Facultad de Economía de la Universidad Estatal de Guayaquil</h2>
				<p class="lato">2018</p>
            </div>
        </div>
        <div class="row pb-3" id="noticia2">
            <div class="infoPar col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <h2 class="mont">Reingeniería eléctrica e instalación de transformadores trifásicos en el Monasterio de Nuestra Señora de la Eucaristía</h2>
                <p  class="lato">2015</p>    
            </div>
            <div class="imgHoverPar col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <img class="img-fluid" id="imagen2" src="../img/referencias/monasterio.png" alt="imgNoticia2">
                <div class="overlay">
                    <p class="texto rale">Proyecto de reingeniería eléctrica, construcción de cámara para transformadores, instalación de dos transformadores trifásicos de 250 kva y 200 kva respectivamente, cambio de todo el sistema de acometidas y tableros de bifásico a trifásico, soterramiento de acometidas con cable TTU2 y de media tensión, conversión de generador de bifásico a trifásico, instalación de dos tableros automáticos de transferencia, cambio de sistema de iluminación del templo a luminarias LED, instalación de elevador eléctrico e hidráulico.</p>
                </div>
            </div>
        </div>
        <div class="row pb-3" id="noticia3">
            <div class="imgHoverImpar col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <img class="img-fluid" id="imagen3" src="../img/referencias/laica.png" alt="imgNoticia3">
                <div class="overlay">
                    <p class="texto rale">Instalación de cableado de fibra, adecuación de Datacenter, planificación, implementación e instalación de la plataforma de cableado estructurado de datos en todos los edificios de la universidad, repotenciación del cabelado de  datos con la instalación de módulos "stack" CISCO para switches apilables CISCO catalyst 2960, automatización de sala de reuniones de rectorado, instalación de redes inalámbricas, implementación de sistema de control de personal con relojes biométricos, adecuación de 18 laboratorios de computación.</p>
                </div>
            </div>
            <div class="infoImpar col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <h2 class="mont">Datacenter, instalación de fibra óptica y cableado estructurado en la Universidad Laica Vicente Rocafuerte</h2>
                <p class="lato">2013</p>
            </div>
        </div>
        <div class="row pb-3" id="noticia4">
            <div class="infoPar col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <h2 class="mont">Cableado estructurado en Colegio Técnico Salesiano San Rafael</h2>
                <p class="lato">2013</p>
            </div>
            <div class="imgHoverPar col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <img class="img-fluid " id="imagen4"src="../img/referencias/rafael.png" alt="imgNoticia4">
                <div class="overlay">
                    <p class="texto rale">Instalación e implementación de la plataforma de cableado estructurado en toda el área educativa y administrativa del colegio, instalación de red de circuito de cámaras análogas outdoor, instalación de red de fibra óptica (backbone), redundantes, instalación de correctores de voltaje, venta de equipos y adecuación de infraestructura para 4 laboratorios de comptuación, adecuación de Datacenter para servidores de red, instalación de red WiFi en todo el colegio.</p>
                </div>
            </div>
        </div>
        <div class="row pb-3" id="noticia5">
            <div class="imgHoverImpar col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <img class="img-fluid" id="imagen5" src="../img/referencias/fae.png" alt="imgNoticia5">
                <div class="overlay">
                    <p class="texto rale">Venta de equipos de computación, venta de Pizarras Interactivas y proyectores de video, instalación de red WiFi local y administrativa, implementacion de Datacenter , instalacion y adecuación de Sala Principal de Reuniones para Personal Administrativo (Mobiliario y accesorios tecnologicos para la sala de reuniones).</p>
                </div>
            </div>
            <div class="infoImpar col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <h2 class="mont">Equipamiento de dispositivos de cómputo y pizarras interactivas en la Unidad Educativa FAE# 2</h2>
                <p class="lato">2013</p>
            </div>
        </div>
        <div class="row pb-3" id="noticia6">
            <div class="infoPar col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <h2 class="mont">Control biométrico y adecuación de Data Center en la Unidad Educativa Domingo Savio</h2>
                <p class="lato">2011</p>
            </div>
            <div class="imgHoverPar col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <img class="img-fluid" id="imagen6" src="../img/referencias/savio.png" alt="imgNoticia6">
                <div class="overlay">
                    <p class="texto rale">Instalación e implementación de cableado estructurado para red de laboratorios de computación del colegio, instalación de control biométrico para personal educativo, adecuación de Datacenter para server de red.</p>
                </div>
            </div>
        </div>
        <div class="row pb-3" id="noticia7">
            <div class="imgHoverImpar col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <img class="img-fluid" id="imagen1" src="../img/referencias/presidencia.png" alt="imgNoticia7">
                <div class="overlay">
                    <p class="texto rale">Formamos parte del proceso de remodelación y automatización del despacho presidencial en el palacio de Carondelet ubicado en Quito, instalación de telefonía IP y cableado estructurado para sistema de seguridad del despacho presidencial y oficinas de secretarios de estado,  e instalaciones eléctricas.</p>
                </div>
            </div>
            <div class="infoImpar col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <h2 class="mont">Remodelación y Automatización del Despacho Presidencial</h2>
                <p class="lato">2007</p>
            </div>
        </div>
    

		<div class="row" id="grafico">
			<div class="grafico center col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
				<canvas id="graficoBarras"></canvas>

			</div>
		</div>
	</div>
	<footer class="lato footer">
		<div class="container">
			<div class="row">
				<img class="d-none d-md-block" id="logofooter" src="../img/logo-icono.png" alt="iconHIS">
				<div class="col p-2">
					<p class="mt-3">©2018 HIS Sistemas C. Ltda. Desarrollado por Jose Escobar & Fernando Vaca. Todos los derechos reservados.</p>	
				</div>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
	<script src="../js/general.js"></script>
    <script src="../js/news.js"></script>
</body>
</html>

