<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="author" content="Jose Escobar, Fernando Vaca">
<title>HIS Nosotros</title>
<link rel="stylesheet" href="../css/us.css" type="text/css">
<link href="../css/header_footer.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<div id="top" class="container">
		<div class="row">
			<div class="col col-12">
				<div class="row">
					<header class="col col-12 col-md-6 col-lg-4 d-none d-md-block" id="logoholder">
						<img class="img-fluid " src="../img/logo.png" alt="logoHIS">
					</header>
				</div>

				<hr class="d-none d-md-block m-auto" id="line">
			</div>
		</div>
	</div>
	<div class="sticky-top">
		<div class="container">
			<nav class="navbar navbar-expand-md navbar-light col">
				<a class="navbar-brand d-md-none d-sm-block" href="index.html"><img id="logoheader" src="../img/logo-icono.png" alt="logoHIS"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuPrincipal">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div id="menuPrincipal" class="collapse navbar-collapse justify-content-between">
					<ul class="lato list-inline navbar-nav">
						<li class="list-inline-item nav-item"><a class="nav-link" href="index.html">Principal</a></li>
						<li class="list-inline-item nav-item"><a class="nav-link" href="services.html">Servicios</a></li>
						<li class="list-inline-item nav-item"><a class="nav-link" href="news.html">Referencias</a></li>
						<li class="list-inline-item nav-item"><a class="nav-link" href="us.html">Nosotros</a></li>
						<li class="list-inline-item nav-item"><a class="nav-link" href="contactus.html">Contáctenos</a></li>
					</ul>
					<form class="form-inline my-lg-2 lato" action="search.html" method="get">
						<input class="form-control mr-2" type="search" placeholder="Buscar..." aria-label="Search" name="buscar">
						<button type="submit" class="btn btn2">Buscar</button>
					</form>
				</div>
			</nav>
		</div>
	</div>
	<div class="container">
		<section class ="row" id="nosotros">
			<div class="col col-sm-12 col-md-8 mt-3 pr-5">
				<h1 class="mont">Nosotros</h1>
				<hr>
				<p class="rale">
					Somos una empresa con más de 20 años de experiencia en el área de la informática acometiendo varios servicios, principalmente la venta de equipos de computación e implementación de salas de audio visual para Negocios, Compañías e Instituciones. Nuestro equipo, constituido por profesionales e ingenieros con gran experiencia de servicio y certificaciones técnicas a nivel nacional e internacional, avala la tradición de calidad y profesionalismo de nuestra compañía.
				</p>

				
				<div class="mt-3 mt-md-5" id="objholder">
					<h1 class="mont">Objetivos</h1>
					<hr>
					<p class="rale">
						HIS Sistemas Cia. Ltda. ofrece soluciones de automatización, control biométrico, telefonía IP, Video Vigilancia IP, seguridad de redes, enlaces wireless, etc. El uso de Tecnologías de la Información y las Comunicaciones (TIC) permite desarrollar  proyectos, planes y estrategias que ponemos a su consideración:
					</p>
					<ul class="lato">
						<li>
							Servicio y soporte técnico especializado tanto para  Hardware como para Software. Venta de equipos, suministros y periféricos de las marcas más prestigiosas a nivel mundial: Intel, 3Com, HP, Dell, Seagate, LG, Samsung, Kingston, Crestron, Extron, 3M, Draper, NEC, Ahetra, Polycom, Lexmark, Toshiba, PolyVision y otras.
						</li>
							
						<li>
							Instalación de redes con cableado estructurado y eléctrico con certificación internacional.
						</li>
						<li>
							Implementar proyectos que respondan a las necesidades reales y actuales del mercado,  integrando tecnología en los diferentes departamentos de una empresa, para promover y generar cambios en la forma de administrar una compañía o institución
						</li>
						<li>
							Automatización de salas de audio y video, auditorios, coliseos, edificios inteligentes, oficinas y hogar.
						</li>
						<li>
							Capacitar al personal para que este pueda también integrarse al uso eficiente de los recursos informáticos.
						</li>
						<li>
							Auditoría y control de recursos tanto de hardware (equipos, redes, periféricos), como de software (programas de aplicaciones, sistemas operativos, utilitarios, software comercial, Internet, etc.).
						</li>
						<li>
							Control de acceso y seguridad con dispositivos de huella, tarjeta de proximidad, etc.
						</li>
						<li>
							Telefonía VOIP (Voice Over Internet Protocol).
						</li>
					</ul>
				</div>
			</div>
			<aside class="col col-12 col-md-4 wl">
				<figure class="mt-4 center">
					<img class="img-fluid" src="../img/CEOIngGustavo.png" alt="CEO">
					<figcaption class="rale mt-3">CEO/Fundador: Ing. Gustavo Vaca Bastidas</figcaption>
				</figure>
				<ul id="timeline">
					<li>
						<time datetime="2018">2018</time>
						<span>Equipamiento de sala de excelencia en la Facultad de Economía de la Universidad Estatal de Guayaquil</span>
					</li>
					<li>
						<time datetime="2015">2015</time>
						<span>Reingeniería eléctrica e instalación de transformadores trifásicos en el Monasterio de Nuestra Señora de la Eucaristía</span>
					</li>
					<li>
						<time datetime="2013">2013</time>
						<span>Datacenter, instalación de fibra óptica y cableado estructurado en la Universidad Laica Vicente Rocafuerte</span>
						<span>Cableado estructurado en Colegio Técnico Salesiano San Rafael</span>
						<span>Equipamiento de dispositivos de cómputo y pizarras interactivas en la Unidad Educativa FAE# 2</span>
					</li>
					<li>
						<time datetime="2011">2011</time>
						<span>Control biométrico y adecuación de Data Center en la Unidad Educativa Domingo Savio</span>
					</li>
					<li>
						<time datetime="2007">2007</time>
						<span>Remodelación y Automatización del Despacho Presidencial</span>
					</li>
					<li>
						<time datetime="1990">1990</time>
						<span>Fundación HIS Sistemas</span>
					</li>
				</ul>
			</aside>
		</section>
	</div>
	<footer class="lato footer">
		<div class="container">
			<div class="row">
				<img class="d-none d-md-block" id="logofooter" src="../img/logo-icono.png" alt="iconHIS">
				<div class="col p-2">
					<p class="mt-3">©2018 HIS Sistemas C. Ltda. Desarrollado por Jose Escobar & Fernando Vaca. Todos los derechos reservados.</p>		
				</div>
			</div>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="../js/general.js"></script>
</body>
</html>
