@charset "utf-8";
/* CSS Document */
#formulario {
  background-color: black;
}
.form-group .form-control {
  background-color: black;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #737373;
}
.form-group .form-control:focus {
  background-color: black;
  outline: none;
  color: white;
}

#corr {
  margin: auto;
}

#map{
	border: 0px;
	width: 100%;
	height: 350px;
}

#info{
	padding: 50px 0px;
}


#consultasHolder input,#consultasHolder label,#consultasHolder textarea{font-size: .8rem;}

 
 /*Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
	#consultasHolder input,#consultasHolder label,#consultasHolder textarea{font-size: 1rem;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	#map{
		border: 0px;
		width: 100%;
		height: 100%;
	}
}