@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Raleway');
/*
Parrafos, botones, etc
font-family: 'Lato', sans-serif;
Titulos
font-family: 'Montserrat', sans-serif;
Subtitulos y parrafos importantisimos (?)
font-family: 'Raleway', sans-serif;
Rojito, celestito,gris oscuro, blanquito hueso, gris medio, celestito medio
#F92222. #5CB1F7, #272C30, #FBFBFB, #9AABB8, #39BDDC
*/
.center{
	margin: auto;
	text-align: center;
}

#line {
	border: .5px solid black;
}

.sticky-top{
	background-color: #FBFBFB;
}

.sticky-top input,div[class^=container] a,.footer p{
	font-size: 0.8rem;
}


.footer{
	background-color: #9AABB8;
}



img[id^=logo]{
	height: 50px;
	width: auto;
	margin-top: 15px;
}


/*Small devices (smartphones, 544 and up)*/
@media (min-width: 544px) {  
	.sticky-top input,div[class^=container] a,.footer p{
		font-size: 0.9rem;
	}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
	.sticky-top input,div[class^=container] a,.footer p{
		font-size: 1rem;
	}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {     
	
}
