// Place all the styles related to the MainPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center{
	margin: auto;
	text-align: center;
}

#line {
	border: .5px solid black;
}

.sticky-top{
	background-color: #FBFBFB;
}

.sticky-top input,div[class^=container] a,.footer p{
	font-size: 0.8rem;
}

.footer{
	background-color: #9AABB8;
}

img[id^=logo]{
	height: 50px;
	width: auto;
	margin-top: 15px;
}


/*Small devices (smartphones, 544 and up)*/
@media (min-width: 544px) {  
	.sticky-top input,div[class^=container] a,.footer p{
		font-size: 0.9rem;
	}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
	.sticky-top input,div[class^=container] a,.footer p{
		font-size: 1rem;
	}
}