h1{
	font-size: 3rem;
}

.imgen{
	margin: auto;
	text-align: center;
}


#timeline{
	margin-top: 50px;
	font-size: .9rem;
}

#timeline time{
	display: inline-block;
    width: 13em;
    margin-left: -13.5em;
    font-weight: bold;
    text-align: right;
    font-size: 90%;
}


#timeline li {
    display: block;
    padding-left: 0.33em;
    margin-left: 1em;
    border-left: solid #5CB1F7;
    text-align: left;
}

#timeline time::after {
    content: ' -';
	color: #5CB1F7;
	font-weight: bolder;
}

#timeline li span{
	display: block;
	padding-bottom: 10px;
}



figure img{
	box-shadow: 3px 3px 10px 3px #272C30;
	border-radius: 5px;
}

#nosotros hr{
	border-color: #C7C7C7;
	margin-top: 0;
}

aside{
	background-color: black;
}


#objholder li{
	font-size: .75rem;
	margin-bottom: 5px;
}

@media (min-width: 544px) {  
	#objholder li{font-size: 1rem;}
}

 
 /*Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
	#objholder li{font-size: 1.1rem;margin-bottom: 20px;}
	#timeline{
		font-size: 1rem;
	}	
}
