<% content_for :head do %>
    <%= stylesheet_link_tag "main_page", media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<footer class="lato footer">
	<div class="container">
		<div class="row">
					<%= image_tag(image_path("logo-icono.png"),:id => "logofooter",:class=>"d-none d-md-block", :alt=>"iconHIS") %>		
			<div class="col p-2">
				<p class="mt-3">©2019 HIS Sistemas C. Ltda. Desarrollado por Jose Escobar & Fernando Vaca. Todos los derechos reservados.</p>	
			</div>
		</div>
	</div>
</footer>