<div id="top" class="container">
	<div class="row">
		<div class="col col-12">
			<div class="row">
				<header class="col col-12 col-md-6 col-lg-4 d-none d-md-block" id="logoholder">
					<%= image_tag(image_path("logo.png"),:class=>"img-fluid", :alt=>"logoHIS") %>		
				</header>
			</div>

			<hr class="d-none d-md-block m-auto" id="line">
		</div>
	</div>
</div>
<div class="sticky-top">
	<div class="container">
		<nav class="navbar navbar-expand-md navbar-light col">
			<a class="navbar-brand d-md-none d-sm-block" href="main_page/index.html">
					<%= image_tag(image_path("logo-icono.png"),:id=>"logoheader",:class=>"img-fluid", :alt=>"logoHIS") %>		
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuPrincipal">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div id="menuPrincipal" class="collapse navbar-collapse justify-content-between">
				<ul class="lato list-inline navbar-nav">
					<li class="list-inline-item nav-item"><a class="nav-link" href="main_page/index.html">Principal</a></li>
					<li class="list-inline-item nav-item"><a class="nav-link" href="main_page/services.html">Servicios</a></li>
					<li class="list-inline-item nav-item"><a class="nav-link" href="main_page/news.html">Referencias</a></li>
					<li class="list-inline-item nav-item"><a class="nav-link" href="main_page/us.html">Nosotros</a></li>
					<li class="list-inline-item nav-item"><a class="nav-link" href="main_page/contactus.html">Contáctenos</a></li>
				</ul>
				<form class="form-inline my-lg-2 lato" action="search.html" method="get">
					<input class="form-control mr-2" type="search" placeholder="Buscar..." aria-label="Search" name="buscar">
					<button type="submit" class="btn btn2">Buscar</button>
				</form>
			</div>
		</nav>
	</div>
</div>