@charset "utf-8";
/* CSS Document */

#formulario{
	background-color: black;
}

.form-group .form-control{
	background-color: black;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #737373;

}

.form-group .form-control:focus{
	background-color: black;
	outline: none;
	color:white;
}

#map{
	height: 400px;
	width: 100%;
}
#corr{
	margin:auto;
}