@charset "utf-8";
/* CSS Document */

#formulario{
	background-color: black;
}

label,#consultasHolder h1{
	color: white;
}

#mapa img{
	display: block;
	width: 100%;
	height: auto;
}

#corr{
	margin:auto;
}