@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Raleway');
/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
Rojito, celestito,gris oscuro, blanquito hueso, gris medio, celestito medio
#F92222. #5CB1F7, #272C30, #FBFBFB, #9AABB8, #39BDDC
*/

#line {
	border: .5px solid black;
}

#navbar a, nav input{
	color: black;
	text-align: center;
	text-decoration: none;
}


.lato{
	font-family: 'Lato', sans-serif;
}


.mont{
	font-family: 'Montserrat' ,sans-serif;
	font-weight: bolder;
}

.rale{
	font-family: 'Raleway',sans-serif;
}

.wl{
	color: #FFFFFF;
}

.footer{
	background-color: #272C30;
}

.footer a:hover{
	color:#5CB1F7;
	text-decoration: none;
}

.btn1{
	border-color: #39BDDC;
	color: #5CB1F7;
}

.btn1:hover{
	background-color: #5CB1F7;
	border-color: #39BDDC;
	color: white;
}

.btn2{
	background-color: #5CB1F7;
	border-color: #39BDDC;
	color: white;
}

.btn2:hover{
	background-color: white;
	border-color: #39BDDC;
	color: #5CB1F7;
}

.btn3{
	border-color: white;
	color: white;
}

.btn3:hover{
	background-color: white;
	border-color: #39BDDC;
	color: #5CB1F7;
}

