/* CSS Document 
#productos{
	width: 100%;
	margin-left: 0px;	
}

#productoImgs {
	width: 100%;
	position: relative;
	margin: auto;
	margin-sizing: border-box;
}

.imgP{
	width: 100%;
	height: 100%;
	background-image: url("https://via.placeholder.com/350x150");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.descP{
	float: right;
	width: 30%;
	height: 80%;
	background-color: red;
}

.textoP{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.tituloP{
	width: 80%;
	margin: auto;
	text-align: center;
	background-color: aqua;
}

.botonP{
	text-align: center;
	border: double;
}

.producto{
	background-color: aqua;
	height: 450px;
}


#servicios{
	width: auto;
	height: 450px;
	background-color: aqua;
}

#serviciosImg{
	position: absolute;
	width: 100%;
	height: 80%;
	background-color: blue;
}

.serviceHolder{
	width: 30%;
	padding: 15px;
	vertical-align: top;
	border: solid;
	float: left;
}

.botonH{
	position: relative;
	width: 100px;
	height: 30px;
	background-color: blueviolet;
}
/*
